.modalProduct{
	z-index: 300;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: var(--background-color-modal-item);
	display: grid;
	justify-content: center;
	align-content: center;
}

.modalProduct__grid{
	width: 700px;
	height: 500px;
	display: grid;
	grid-template-columns: 30% auto;
	padding: 20px;
	background: var(--color-white);
	border-radius: 10px;
}

.modalProduct__imgContainer{
	background: var(--color-white);
}

.modalProduct__img{
	width: 100%;
}

.modalProduct__descGrid{
	height: inherit;
	display: grid;
	grid-template-rows: auto 40px;
	height: 100%;
}

.modalProduct__body{
	width: 100%;
	height: 100%;
	background: var(--color-white);
	position: relative;
	overflow-y: scroll;
}

.modalProduct__favoriteButton{
	position: absolute;
	right: 0;
}

.modalProduct__bottom{
	width: 100%;
	height: 100%;
	background: var(--color-white);
	position: relative;
}

.modalProduct__numeric{
	width: 50px;
	position: absolute;
	left: 0px;
	height: 100%;
	color: var(--color-green-light);
}

.modalProduct__bottomButtons{
	position: absolute;
	right: 0px;
	font-weight: bold;
}

.modalProduct__closeButton{
	background: var(--color-gray);
	border-radius: 90px;
	padding: 10px;
	color: var(--color-white);
	width: fit-content;
	margin: auto;
	display: inline-block;
}

.modalProduct__closeButton:hover{
	cursor: pointer;
}

.modalProduct__buyButton{
	background: var(--color-orange);
	border-radius: 90px;
	padding: 10px;
	color: var(--color-white);
	width: fit-content;
	margin: auto;
	display: inline-block;
}

.img_shopping_cart{
	filter: var(--color-shopping-normal);
}

.modalProduct__buyButton:hover .img_shopping_cart{
	filter: var(--color-shopping-hover);
}

.modalProduct__buyButton:hover	{
	background: var(--color-green-light);
	color: var(--color-black);
	cursor: pointer;
}


.modalProduct__buyButton__icon svg{
	color: var(--color-white);
	fill: var(--color-white);
}

/*modalProduct body*/

.modalProduct__title{
	font-weight: bold;
	font-size: 1.2em;
}

.modalProduct__price{
	color: var(--color-green-dark);
	font-size: 1.3em;
	margin-bottom: 20px;
	font-weight: bold;
}

.modalProduct__description{
	color: var(--color-gray);
}
