.sidebar {
	height: 100%;
	width: var(--sidebar-width);
	position: fixed;
	top: var(--header-height);
	left: 0;
}

.mainVitrinaParent {
	position: relative;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	padding: 0 0 0 var(--sidebar-width);
	top: 0;
}

.mainVitrina {
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
}

