<div class="mainVitrinaParent">
	<div class="mainVitrina CC">
		
				<div class="vitrina__container">

					<!--vitrina item container-->
					<div class="vitrina__grid" id="vitrina__grid">

						<!--base vitrina item-->
						<div *ngFor="let product of products" class="vitrina__item" id="vitrina__item">
							<div class="vitrina__item__container1">
								<div class="vitrina__item__container2">
									<div class="vitrina__item__favoriteButton">
										<img class="vitrina__item__favoriteIcon" src="/assets/icon/heart.svg"/>
									</div>
									<div *ngIf="product.discount > 0" class="vitrina__item__discount"><div>{{product.discount}}%</div></div>
									<div class="vitrina__item__imgContainer">
										<img class="vitrina__item__img" [src]="product.imageurl"/>
									</div>
									<div class="vitrina__item__title">{{product.title}}</div>
									<div class="vitrina__item__units">{{product.units}}</div>
									<div class="vitrina__item__price">{{product.price}} €</div>
									<div class="vitrina__item__buyButton">
										<img class="vitrina__item__favoriteIcon" src="/assets/icon/bag-plus-fill.svg"/>
										Añadir a la cesta
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="vitrina__pageControls">
						<app-vitrina-pager
							[currentPage]="selectedPage" [totalPages]="totalPages"
							(eventPageSelected)="eventSelectPage($event)"
							></app-vitrina-pager>
					</div>
				</div>

	</div>
</div>
<app-vitrina-filter
	class="sidebar CB"
	(eventApplyPriceFilter)="eventApplyPriceFilter($event)"
	></app-vitrina-filter>
