<app-header class="header CA"></app-header>
<div class="mainCartParent">
	<div class="mainCart CC">
		
		Lorem ipsum dolor sit amet. Aut numquam odit et repudiandae repellat et repellat impedit ad similique neque est voluptatibus quaerat. At voluptas illum sed doloremque labore rem temporibus dolores et nemo error et provident omnis. Qui earum rerum et expedita sapiente At blanditiis rerum sit asperiores quia sit recusandae nulla. Eum vitae numquam id obcaecati voluptates qui fuga consequatur.

	</div>
</div>
