<!-- SignIn Form -->

<div class="content">
    <div class="form_signup">
        <h1>SignIn In</h1>

        <h2>Create new account</h2>
        <input type="text" id="name" class="input_signin" placeholder="Name" required>
        <p class="mesage_error" id="error_name"></p>
        <input type="text" id="lastname" class="input_signin" placeholder="Lastname" required>
        <p class="mesage_error" id="error_lastname"></p>
        <h2>Login Information</h2>
        <input type="email" id="email" class="input_signin" placeholder="Email" required>
        <p class="mesage_error" id="error_email"></p>
        <input type="password"  id="psw" class="input_signin" placeholder="Password" required>
        <p class="mesage_error" id="error_psw"></p>
        <input type="password"  id="confirm_psw" class="input_signin" placeholder="Confirm Password" required>
        <p class="mesage_error" id="error_confirm_psw"></p>
        <p class="mesage_pass" id="pass_validation"></p>
        <p class="mesage_pws" id="mesage_pws">Must have a minimum of 8 characters, at least one number, one special character, one uppercase letter and one lowercase letter</p>

        <div class="container_captcha">
            <div id="captcha" class="captcha"></div>
            <br>
            <br>
            <div class="input_captcha">
                <input type="text" name="reCaptcha" id="reCaptcha" placeholder="Write the Captcha"/>
            </div>
            
        </div>
        <div id="errCaptcha" class="errmsg"></div>
        <br>
        <button id="button_signup" class="access" (click)="access()">Access</button>
        <br>
        <button class="access_facebook">Access with Facebook</button>
    </div>
</div>