.content {
	max-width: 800px;
	margin: auto;
}

.form_signup{
	margin-top: 3%;
	margin-bottom: 3%;
	padding-bottom: 3%;
	border: 1px solid var(--color-border-div-forms);
	padding-left: 5%;
	padding-right: 5%;
}

.input_signin{
	background-color: var(--color-inputs-forms);
	border: 1px solid var(--color-border-div-forms);
	height: 40px;
	width: 80%;
	outline: none;
	font-size: 15px;
	width: 100%;
}

.captcha {
	display: inline-block;
	font-family: cursive, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	padding: 3px;
	border-radius: 5px;
	text-decoration: line-through;
	color: var(--color-text-captcha);
	background-color: var(--color-background-captcha);
	user-select: none;
	height: 80%;
	text-align: center;
	margin-top: 3px;
}

#reCaptcha{
	border: 1px solid var(--color-border-div-forms);
	height: 30px;
	text-align: center;
	width: 100%;
	outline: none;
}
/* Buttons */

.access{
	border-radius: 60px;
	padding: 15px;
	width: 80%;
	background-color: var(--color-green-dark);
	color: var(--color-white);
	border: 0;
	margin-bottom: 3%;
	font-weight: bold;
	font-size: 16px;
	margin-left: 10%;
}
  
.access:hover{
	background-color: var(--color-orange);
	color: var(--color-black);
	cursor: pointer;
}
  
.access_facebook{
	border-radius: 60px;
	padding: 15px;
	width: 80%;
	background-color: var(--color-facebook);
	color: var(--color-white);
	border: 0;
	font-weight: bold;
	font-size: 16px;
	margin-left: 10%;
}
  
.access_facebook:hover{
	color: var(--color-black);
	cursor: pointer;
}

/* Messages */

.mesage_error{
	color: var(--color-message-error);
}
  
.mesage_pws{
	width: 90%;
	font-size: 14px;
}
  
.errCaptcha{
	color: var(--color-message-error);
	width: 80%;
	text-align: center;
}
