<div class="header C3">
	<img class="header__logo C2" src="/assets/logo.jpg"/>
	<div class="header__container">

		<div class="searchBar">
			<input type="text" placeholder="Buscar" class="searchBar__input">
			<div class="searchBar__icon">
				<img src="/assets/icon/search.svg">
			</div>
		</div>

		<div class="headerButton">
			<div class="headerButton__container" id="headerButton__favorites">
				<div class="headerButton__icon">
					<img src="/assets/icon/heart.svg">
				</div>
				<div class="headerButton__label">Mis favoritos</div>
			</div>
		</div>

		<div class="headerButton">
			<div class="headerButton__container" id="headerButton__account">
				<div class="headerButton__icon">
					<img src="/assets/icon/person-circle.svg">
				</div>
				<div class="headerButton__label">Mi cuenta</div>
			</div>
		</div>

		<div class="headerButton">
			<div class="headerButton__container" id="headerButton__cart">
				<div class="headerButton__icon">
					<img src="/assets/icon/basket3.svg">
				</div>
				<div class="headerButton__label">Mi carrito</div>
			</div>
		</div>
	</div>
</div>
