
/* VITRINA PAGE CONTROLS */

.vitrina__pageControls{
	background: var(--color-white);
	width: 100%;
	height: 100%;
}

.vitrina__pageControls__container{
	width: fit-content;
	margin-left: auto;
	margin-top: 40px;
}

.vitrina__pageControlNumbers{
	display: inline-block;
}

.vitrina__pageButton{
	display: inline-block;
}

.vitrina__pageButton--selected{
	color: var(--color-green-light);
}

.vitrina__pageButton__container{
	background: var(--color-white);
	border-color: var(--color-border-pageButton);
	border-style: solid;
	border-width: 1px;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin-right: 5px;
}

.vitrina__pageButton__container:hover{
	cursor: pointer;
}
