<div class="vitrina__pageControls__container">
	<div
		*ngIf="pagesOffset > 0"
		class="vitrina__pageButton" id="vitrina__pageButtonLeft">
		<div (click)="goLeft()" class="vitrina__pageButton__container"><</div>
	</div>

	<div class="vitrina__pageControlNumbers" id="vitrina__pageControlNumbers">
		<div
		*ngFor="let i of pagesArray"
		class="vitrina__pageButton">
			<div class="vitrina__pageButton__container">
				{{ i+1 }}
			</div>
		</div>
	</div>

	<div 
		class="vitrina__pageButton" id="vitrina__pageButtonRight"
		[style.visibility]="(pagesOffset < totalPages - maxBtns) ? 'visible' : 'hidden'"
		>
		<div (click)="goRight()" class="vitrina__pageButton__container">></div>
	</div>
</div>
