<!-- Login Form -->

<div class="content">

	<div class="form_login">

		<h1>Log In</h1>

		<div class="email_div">
			<!--<img src="./eco-tienda-info/src-eco-tienda/person-fill.svg" class="img_form">-->
			<input type="email" class="email" [(ngModel)]="email" placeholder="Email" required>
		</div>
		<p class="mesage_error" >{{error_email}}</p>
		<div class="password_div">
			<!--<img src="./eco-tienda-info/src-eco-tienda/envelope-fill.svg" class="img_form">-->
			<input type="password" [(ngModel)]="password" class="psw" placeholder="Password" required>
		</div>
		<p class="mesage_error">{{error_psw}}</p>
		<div class="container_captcha">
			<div class="captcha">{{captcha}}</div>
			<br>
			<br>
			<div class="input_captcha">
				<input type="text" id="reCaptcha" name="reCaptcha" [(ngModel)]="reCaptcha" placeholder="Write the Captcha"/>
			</div>
		</div>
		<p class="mesage_pass">{{pass_msg}}</p>
		<div id="errCaptcha" class="errmsg">{{error_captcha}}</div>
		<button id="button_login" class="access" (click)="access()">Access</button>
		<button class="access_facebook">Access with Facebook</button>
		<div class="forget_password_div">
			<a><p>Have you forgotten your password?</p></a>
		</div>
		<p>Aren't you registered?<a routerLink="/signin" class="go_signup">Create an account</a></p>

	</div>

</div>
